@using ShopTT.Models;
@model List<ProductType>


<a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown"><span>Sản phẩm<b class="caret"></b></span></a>
<ul class="dropdown-menu">
    <div class="col-sm-12">
        <ul class="multi-column-dropdown">
            @foreach (var item in Model)
            {
                <li><a href="@Url.Action("ProductbyType", "Products", new { @idproType = item.typeID })"><i class="fa fa-angle-right" aria-hidden="true"></i>@item.typeName</a></li>
            }
        </ul>
    </div>
</ul>
